.nav-item{
    padding-left: 30px;
}
.navbar{
    background-color: #E5E5E5;
}

.icon{
    width: 20px;
    height: 20px;
    margin-right:5px ;
    /* margin-bottom: 10px; */
}
.icons{
    width: 30px;
    height: 30px;
    margin-left: -7px;
    /* margin-right:5px ; */
    /* margin-bottom: 10px; */
}



.dropdown-item{
    margin-bottom: 30px;
}


.navigation span{
    z-index: 1;
}

.nav-item .active {
    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-thickness: 3px;
  }

  .dropdown-menu{
      min-width: 500px !important;
      border-radius: 10px!important;
      border: none!important;
  }

  .men{
    margin-top: 20px!important;
    margin-left: -150px !important;
  }

  .new{
    color: red;
    margin-left: 10px;
    margin-bottom: 10px;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 12px;
}

  .menu{
      width: 500px!important;
  }

  .dropdown-menu.about{
      min-width: 50px !important;
  }